<a href="https://colab.research.google.com/github/aryamnair98/Python_Core/blob/main/Notepadqus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.arbitoryarg.py

def add(*n):
	s=0
	for x in n:
		s=s+x
	return s

p=add(10,20,30)
print("Sum is ",p)
q=add(10,20,30,40,50)
print("Sum is ",q)
r=add(25.5,36.6,42.7,52.8)
print("Sum is ",r)

Sum is  60
Sum is  150
Sum is  157.60000000000002

In [ ]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
odd_numbers = [x for x in sorted_numbers if x % 2 != 0]
print(odd_numbers)

[7, 19, 45, 89]

In [ ]:
i = [10, 11, 12, 13]
for i[-2] in i:
    print(i[-2])

10
11
11
13

In [ ]:
#2.auto_trimorphic
num=int(input("Enter the number:"))
print("Menu")
print("1.Automorphic")
print("2.Trimorphic")
choice=int(input("Enter the choice:"))
l=len(str(num))
if(choice==1):
  sq=num**2
  if(sq%(10**l))==num:
    print(num,"is automorphic")
  else:
    print(num,"is not automorphic")
elif(choice==2):
  cb=num**3
  if(cb%(10**l))==num:
    print(num,"is trimorphic")
  else:
    print(num,"is not trimorphic")
else:
  print("Invalid choice")

Enter the number:45
Menu
1.Automorphic
2.Trimorphic
Enter the choice:1
45 is not automorphic

In [ ]:
#3.big3elif
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
c=int(input("Enter the third number:"))
if(a>b) and (a>c):
  big=a
elif(b>a) and (b>c):
  big=b
else:
  big=c
print("Biggest number is :",big)

Enter the first number:34
Enter the second number:78
Enter the third number:23
Biggest number is : 78

In [ ]:
#4.big2if
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
if(a>b):
  big=a
else:
  big=b
print("Biggest number is :",big)

Enter the first number:89
Enter the second number:45
Biggest number is : 89

In [ ]:
#5.biglist
a=[]
n=int(input("Enter the limit of array:"))
print("Enter the elements:")

for i in range(0,n):
  no=int(input())
  a.append(no)

big=a[0]
for i in range(1,n):
  if(a[i]>big):
    big=a[i]

if(big==a[0]):
  sbig=a[1]
else:
  sbig=a[0]

for i in range(0,n):
  if a[i]<big and a[i]>sbig:
    sbig=a[i]

print("Largest number:",big)
print("Second largest number:",sbig)

Enter the limit of array:4
Enter the elements:
34
78
90
112
Largest number: 112
Second largest number: 90

In [ ]:
#6.bignestedif
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
c=int(input("Enter the third number:"))

if(a>b):
  if(a>c):
    big=a
  else:
    big=c
else:
  if(b>c):
    big=b
  else:
    big=c
print("Biggest number is:",big)

Enter the first number:34
Enter the second number:876
Enter the third number:54
Biggest number is: 876

In [ ]:
#7.bigsimif
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
big=a
if(a<b):
  big=b
print("Biggest number is:",big)

Enter the first number:34
Enter the second number:67
Biggest number is: 67

In [ ]:
#8.block selection

required_amenities=[]
block_details=[{"School":True,"Gym":False,"Pool":False,"Hospital":True,"Store":False}]
amenities={"School":False,"Gym":False,"Pool":False,"Hospital":False,"Store":False}
print("Enter your requirements :(1-required/0-not required)")
for x in amenities.keys():
	k=int(input(x))
	if k==1:
		required_amenities.append(x)
print(required_amenities)

Enter your requirements :(1-required/0-not required)
School1
Gym2
Pool1
Hospital0
Store1
['School', 'Pool', 'Store']

In [ ]:
#9.calculator
print("1. Addition")
print("2. subtraction")
print("3. Multiplication")
print("4. Division")
print("5. Exponent")

choice=int(input("Enter your choice:"))
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))


if(choice==1):
  res=a+b
elif(choice==2):
  res=a-b
elif(choice==3):
  res=a*b
elif(choice==4):
  res=a/b
elif(choice==5):
  res=a**b
else:
  print("Invalid choice")
print("Result is:",res)

1. Addition
2. subtraction
3. Multiplication
4. Division
5. Exponent
Enter your choice:2
Enter a number:3
Enter a number:6
Result is: -3

In [ ]:
#10.circularrightshift
a=[]
n=int(input("Enter the limit:"))

for i in range(n):
  elemnt=int(input("Enter elements:"))
  a.append(elemnt)
print(a)
b=[a[n-1]]+a[:n-1]
print(b)

Enter the limit:4
Enter elements:2
Enter elements:4
Enter elements:6
Enter elements:8
[2, 4, 6, 8]
[8, 2, 4, 6]

In [ ]:
#11.contact book
print("1.Add a contact ")
print("2.Delete a contact")
print("3.Edit a contact ")
print("4.Search a contact")
print("5.List all contacts")
print("6.Exit")

co_book={}
choice=int(input("Enter the choice:"))

while(choice!=6):

  if(choice==1):
    name=input("Enter the name:")
    ph=int(input("Enter the phone number:"))
    co_book[name]=ph
    print("Added successfully")

  elif(choice==2):
    name=input("Enter the name to delete:")
    co_book.pop[name]
    print("Deleted successfully")

  elif(choice==3):
    name=input("Enter the name to edit:")
    ph=int(input("Enter the phone number to edit:"))
    co_book[name]=ph
    print("Edited successfully")

  elif(choice==4):
    name=input("Enter the name to search:")
    print("Phone number of",name,"is:",co_book[name])
  elif(choice==5):
    print("Name\t\t Phone Number")
    for x,y in co_book.items():
      print(x,"\t\t",y)
  else:
    print("Invalid choice:")
  choice=int(input("Enter the choice:"))

1.Add a contact
2.Delete a contact
3.Edit a contact
4.Search a contact
5.List all contacts
6.Exit
Enter the choice:1
Enter the name:Arya
Enter the phone number:7867574534
Added successfully
Enter the choice:3
Enter the name to edit:Arya
Enter the phone number to edit:123456789
Edited successfully
Enter the choice:5
Name		 Phone Number
Arya 		 123456789
Enter the choice:6

In [ ]:
#12.defaultarg.py

def inrst(p,n,r=0.25):
	i=p*r*n
	return i
i1=inrst(5000,6,0.3)
print("Interest ",i1)
i2=inrst(5000,6)
print("Interest ",i2)

Interest  9000.0
Interest  7500.0

In [ ]:
#13.dicfunctions.py

bus={"Routeno":5,"Driver":"kiran","Cleaner":"Manu","points":["karamana","PMG","pattom"]}
print(bus["Driver"])
print(bus.get("Driver"))
print(bus.keys())
print(bus.values())
print(bus.items())

bus["color"]="Red"
print(bus)

bus.update({"Fare":1500})
print(bus)

bus["Driver"]="Mohan"
print(bus)

bus.pop("Fare")
print(bus)

bus.popitem()
print(bus)

del bus["Driver"]
print(bus)


for x in bus:
	print(x)

for x in bus:
	print(bus[x])

del bus
#bus.clear()

kiran
kiran
dict_keys(['Routeno', 'Driver', 'Cleaner', 'points'])
dict_values([5, 'kiran', 'Manu', ['karamana', 'PMG', 'pattom']])
dict_items([('Routeno', 5), ('Driver', 'kiran'), ('Cleaner', 'Manu'), ('points', ['karamana', 'PMG', 'pattom'])])
{'Routeno': 5, 'Driver': 'kiran', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red'}
{'Routeno': 5, 'Driver': 'kiran', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red', 'Fare': 1500}
{'Routeno': 5, 'Driver': 'Mohan', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red', 'Fare': 1500}
{'Routeno': 5, 'Driver': 'Mohan', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom'], 'color': 'Red'}
{'Routeno': 5, 'Driver': 'Mohan', 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom']}
{'Routeno': 5, 'Cleaner': 'Manu', 'points': ['karamana', 'PMG', 'pattom']}
Routeno
Cleaner
points
5
Manu
['karamana', 'PMG', 'pattom']

In [ ]:
#14.
student={'name':'Arya','Age':25,'Mark1':3456,'Mark2':3490}

print(student.get("name"))
print(student.keys())
print(student.values())
print(student.items())

student["name"]="Arya m"
student["phone"]=958744123
print(student)

student.update({"name":"Arya Amal"})
student.update({"Address":"Adoor"})
print(student)

candidate=student.copy()
print(candidate)

student.pop("name") #del student["name"]
candidate=dict(student)
print(candidate)

student.popitem()
print(student)

#del student
student.clear()
print(student)

Arya
dict_keys(['name', 'Age', 'Mark1', 'Mark2'])
dict_values(['Arya', 25, 3456, 3490])
dict_items([('name', 'Arya'), ('Age', 25), ('Mark1', 3456), ('Mark2', 3490)])
{'name': 'Arya m', 'Age': 25, 'Mark1': 3456, 'Mark2': 3490, 'phone': 958744123}
{'name': 'Arya Amal', 'Age': 25, 'Mark1': 3456, 'Mark2': 3490, 'phone': 958744123, 'Address': 'Adoor'}
{'name': 'Arya Amal', 'Age': 25, 'Mark1': 3456, 'Mark2': 3490, 'phone': 958744123, 'Address': 'Adoor'}
{'Age': 25, 'Mark1': 3456, 'Mark2': 3490, 'phone': 958744123, 'Address': 'Adoor'}
{'Age': 25, 'Mark1': 3456, 'Mark2': 3490, 'phone': 958744123}
{}

In [ ]:
#15.dictionarydemo
contacts={}
n=int(input("Enter the limit:"))
for i in range(n):
  name=input("Enter the name:")
  ph=int(input("Enter the phno:"))
  contacts[name]=ph

print("Keys")
for i in contacts.keys():
  print(i)

print("Values")
for i in contacts.values():
  print(i)

print("Key-value pairs")
for i in contacts.items():
  print(i)

Enter the limit:2
Enter the name:Arya
Enter the phno:8129442725
Enter the name:Amal
Enter the phno:9876543322
Keys
Arya
Amal
Values
8129442725
9876543322
Key-value pairs
('Arya ', 8129442725)
('Amal', 9876543322)

In [ ]:
#16.dictnumber
numbers={1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
positions={0:'Ones',1:'Tens',2:'Humdreds',3:'Thousands',4:'Ten Thousands',5:'Lakhs',6:'Ten Lakhs',7:'Crore',8:'Ten Crores',9:'Hundred Crores'}
num=input("Enter number:")
l=len(num)-1
result=''
for i in num:
  key=int(i)
  value=numbers[key]
  lens=positions[l]
  result=result+""+value+""+lens
  l=l-1
print("Number:",num)
print("Number name:",result)

Enter number:45
Number: 45
Number name: FourTensFiveOnes

In [ ]:
#17.digitsumfun

def dig_sum(num):
  sum=0
  while(num>0):
    digits=num%10
    sum+=digits
    num//=10
  print("sum of the number is:",sum)

num=int(input("Enter the number:"))
dig_sum(num)

Enter the number:23
sum of the number is: 5

In [ ]:
#18.divisiblesimpif
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))
if(a%b==0):
  print("It is divisible")
else:
  print("It is not divisible")

Enter the number:25
Enter the number:5
It is divisible

In [ ]:
#19.ebillelif
unit=int(input("Enter the unit used:"))

if(unit<=100):
  amount=unit*0.5
elif(unit>100) and (unit<=150):
  amount=(100*0.5)+((unit-100)*0.75)
elif(unit>150) and (unit<=200):
  amount=(100*0.5)+(50*0.75)+((unit-150)*1)
else:
  amount=(100*0.5)+(50*0.75)+(50*1)+((unit-200)*2)
print("Amount:",amount)

Enter the unit used:167
Amount: 104.5

In [ ]:
#20.electrictybill_type
type=int(input("Enter type of user(1.domestic,2.commercial):"))
unit=int(input("Enter the unit used:"))
if(type==1):
  if(unit<=100):
    amount=unit*0.5
  elif(unit>100) and (unit<=150):
    amount=(100*0.5)+((unit-100)*0.75)
  elif(unit>150) and (unit<=200):
    amount=(100*0.5)+(50*0.75)+((unit-150)*1)
  else:
    amount=(100*0.5)+(50*0.75)+(50*1)+((unit-200)*2)
elif(type==2):
  if(unit<=100):
    amount=unit*3
  elif(unit>100) and (unit<=150):
    amount=(100*3)+((unit-100)*4)
  elif(unit>150) and (unit<=200):
    amount=(100*3)+(50*4)+((unit-150)*6)
  else:
    amount=(100*3)+(50*4)+(50*6)+((unit-200)*10)
else:
  print("Invalid type")


print("Amount:",amount)

Enter type of user(1.domestic,2.commercial):2
Enter the unit used:245
Amount: 1250

In [ ]:
def facts(num):
  fact=1
  count=1
  if(num==0) or (num==1):
    print("factorial is 1")
  elif(num<0):
    print("There is no factorial")
  else:
    while(count<=num):
      fact*=count
      count+=1
    print("Factorial is:",fact)
    dig_sum(fact)

def dig_sum(fact):
  sum=0
  while(fact>0):
    digits=fact%10
    sum+=digits
    fact//=10
  print("sum of the factorial number is:",sum)

num=int(input("Enter the number:"))
facts(num)

Enter the number:5
Factorial is: 120
sum of the number is: 3

In [ ]:
#22.fun_arbitoryarg.py

def my_function(*students):
	#print(type(students))
	for i in students:
		print(i)

my_function("Arya", "Amal", "Ima")
my_function(10,20,30,40,50)

Arya
Amal
Ima
10
20
30
40
50

In [ ]:
#23.fun_arbitoryarg1
def my_fn(*numbers):
  #print(type(numbers))
  sum = 0
  for num in numbers:
    sum += num
  print("Sum:", sum)



my_fn(10,20)
my_fn(10,20,30,40,50,60)
my_fn(23,45,65,78,90)

Sum: 30
Sum: 210
Sum: 301

In [ ]:
#24.functionarguments
def sum(*n):
  sum=0
  for i in n:
    sum=sum+i
  return sum
def add(n1):
  print(n1*6)
def avg(n2):
  print(n2/5)

s1=sum(10,20,30,40)
add(s1)
s2=sum(13,29,34,46)
avg(s2)

600
24.4

In [ ]:
#25.functioninterestdefault

def sim_intrst(p,t,r=6):
  total=p*r*(t/100)
  return total
p_amount=int(input("Enter principal amount:"))
t_period=int(input("Enter time period:"))
r_intrst=int(input("Enter rate of interest:"))
t1=sim_intrst(p_amount,t_period)
print("Total interest:",t1)
t2=sim_intrst(p_amount,t_period,r_intrst)
print("Total interest:",t2)

Enter principal amount:345670000
Enter time period:24
Enter rate of interest:5
Total interest: 497764800.0
Total interest: 414804000.0

In [ ]:
#26.functionlist
def sum(n):
  #print(type(n))
  sum=0
  for i in n:
    sum+=i
  return sum

a=[1,2,3,4,5]
print(sum(a))
b=(0,20,30,40)
print(sum(b))
c={12,34,5,78}
print(sum(c))

15
90
129

In [ ]:
#2nd notepad
#1.palindromefn

def palindr(n):
  rev=0 #reverse
  temp=n #temporary variable
  while(temp>0):
    rem=temp%10 #remainder
    rev=(rev*10)+rem
    temp=temp//10
  if(n==rev):
    print(n,"is palindrome number")
  else:
    print(n,"is not a palindrome number")

num=int(input("Enter the number:"))
palindr(num)

Enter the number:343
343 is palindrome number

In [ ]:
#2.quadeqsifelse
a=int(input("Enter the coefficient of x^2 term:"))
b=int(input("Enter the coefficient of x term:"))
c=int(input("Enter the constant term:"))
x=(b**2)-(4*a*c)
if(x>=0):
  print("Roots are real")
else:
  print("Roots are imaginary")

Enter the coefficient of x^2 term:-8
Enter the coefficient of x term:-5
Enter the constant term:-4
Roots are imaginary

In [ ]:
#3.quadsimif
a=int(input("Enter the coefficient of x^2 term:"))
b=int(input("Enter the coefficient of x term:"))
c=int(input("Enter the constant term:"))
x=(b**2)-(4*a*c)
root="Roots are Imaginary"
if(x>=0):
  root="Roots are real"

print(root)

Enter the coefficient of x^2 term:4
Enter the coefficient of x term:5
Enter the constant term:7
Roots are Imaginary

In [ ]:
#4.Reversefn

def revs(n):
  rev=0 #reverse
  while(n>0):
    rem=n%10 #remainder
    rev=(rev*10)+rem
    n=n//10
  return rev
n=int(input("Enter the number:"))
print("Reverse of",n,"is",revs(n))

Enter the number:123
Reverse of 123 is 321

In [ ]:
#5.right-triangle
a=int(input("Enter 1st side:"))
b=int(input("Enter 2nd side:"))
c=int(input("Enter 3rd side:"))

if(a**2==b**2+c**2 or b**2==a**2+c**2 or c**2==a**2+b**2):
  print("The triangle is right angled triangle")
else:
  print("The triangle is not a right angled triangle")

Enter 1st side:23
Enter 2nd side:45
Enter 3rd side:56
The triangle is not a right angled triangle

In [ ]:
#6.armstrong
def arm(num):
  l=len(str(num))
  sum=0
  temp=num
  while(temp>0):
    digits=temp%10
    sum+=digits**l
    temp//=10
  if(num==sum):
    print(num,"is an armstrong number")
  else:
    print(num,"is not an armstrong number")
n=int(input("Enter the number:"))
arm(n)

Enter the number:407
407 is an armstrong number

In [ ]:
#7.b2d
binary=int(input("Enter binary number:"))
digit=0
i=0
while(binary!=0):
  dig=binary%10
  digit=digit+(dig*(2**i))
  i=i+1
  binary=binary//10
print("Decimal equvalent is:",digit)

Enter binary number:1010
Decimal equvalent is: 10

In [ ]:
#8.bigdigit
n=int(input("Enter number:"))
bd=0
while(n!=0):
  d=n%10
  if d>bd:
    bd=d
  n=n//10
print("Greatest digit is:",bd)

Enter number:455
Greatest digit is: 5

In [ ]:
#9.factorsum
n=int(input("Enter a number:"))
sum=0
for i in range(1,n+1):
  if(n%i==0):
    sum=sum+i
print("Sum is:",sum)

Enter a number:23
Sum is: 24

In [ ]:
#11.sumoddwhile
n=int(input("Enter a number:"))
i=1
sum=0
while(i<=n):
  sum=sum+i
  i=i+2
print("Sum of odd numbers:",sum)

Enter a number:7
Sum of odd numbers: 16

In [ ]:
#12.sumofnaturalsfor
n=int(input("Enter a number:"))
sum=0
for i in range(n+1):
  sum=sum+i
print("Sum of natural numbers:",sum)

Enter a number:3
Sum of natural numbers: 6

In [ ]:
#13.sumofnaturalswhile
n=int(input("Enter a number:"))
sum=0
i=0
while(i<=n):
  sum=sum+i
  i=i+1
print("Sum of natural numbers:",sum)

Enter a number:5
Sum of natural numbers: 15

In [ ]:
#14.strong number
num=int(input("Enter the number:"))
sum=0
for i in range(1,n+1):
  if(n%i==0):
    s=s+i
print(s)

Enter the number:5
Factorial is: 120
3

In [ ]:
#15.spynumber
num=int(input("Enter the number:"))
sum=0
product=1
while(num>0):
  d=num%10
  sum=sum+d
  product=product*d
  num=num//10
if(sum==product):
  print("spy number")
else:
  print("not a spy number")

Enter the number:22
1
0
not

In [ ]:
#notepad 3
#1.marks if
m1=int(input("Enter the mark1:"))
m2=int(input("Enter the mark2:"))
m3=int(input("Enter the mark3:"))
total_mark=((m1+m2+m3)*100)/300
if(total_mark>=90):
  grade="A+"
elif(total_mark>90) and (total_mark>=80):
  grade="A"
elif(total_mark>80) and (total_mark>=70):
  grade="B+"
elif(total_mark>70) and (total_mark>=60):
  grade="B"
elif(total_mark>60) and (total_mark>=50):
  grade="C"
else:
  grade="failed"
print("Grade is:",grade)

Enter the mark1:32
Enter the mark2:32
Enter the mark3:34
Grade is: failed

In [ ]:
#2.marks nested if
m1=int(input("Enter the mark1:"))
m2=int(input("Enter the mark2:"))
m3=int(input("Enter the mark3:"))
if(m1>=50) and (m2>=50) and(m3>=50):
  total_mark=((m1+m2+m3)*100)/300
  if(total_mark>=90):
    grade="A+"
  elif(total_mark>=80):
    grade="A"
  elif(total_mark>=70):
    grade="B+"
  elif(total_mark>=60):
    grade="B"
  else:
    grade="C"
else:
  print("Failed")
print("Grade is:",grade)

Enter the mark1:64
Enter the mark2:67
Enter the mark3:66
Grade is: B

In [ ]:
#4.keyword arg
def add(a,b,c):
  return a+b+c
s=add(a=90,c=45,b=67)
print("sum is:",s)

sum is: 202

In [ ]:
#5.list
a=[]
limit=int(input("Enter the limit:"))

print("Enter the elements")
for i in range(limit):
  num=input()
  a.append(num)

print("List elements are:")
leng=len(a)
for i in range(leng):
  print(a[i])

Enter the limit:4
Enter the elements
1
2
3
4
List elements are:
1
2
3
4

In [ ]:
#6.listbig
a=[]
limit=int(input("Enter the limit:"))

print("Enter the elements")
for i in range(limit):
  num=input()
  a.append(num)

big=a[0]
for i in range(limit):
  if(a[i]>big):
    big=a[i]
print("Big number is:",big)

Enter the limit:3
Enter the elements
56
67
75
Big number is: 75

In [ ]:
#8.compare
a=[1,2,3]
b=[5,6,7]
if a==b:
  print("ok")
else:
  print("not ok")

not ok

In [ ]:
#3.interset if



p_amount=int(input("Enter principal amount:"))
t_period=int(input("Enter time period:"))

if(t_period>=10):
  r_intrst=12
else:
  r_intrst=8

total=p_amount*r_intrst*(t_period/100)

print("Interest is:",total)

Enter principal amount:230000
Enter time period:4
Interest is: 73600.0

In [ ]:
#7.binary search in list
limit=int(input("Enter the limit:"))
a=[]
for i in range(limit):
  n=int(input("Enter the elements:"))
  a.append(n)
print("List:",a)
b=sorted(a)
print("Sorted in ascending order:",b)
s_elem=int(input("Enter the element to search:"))
i=0
u=n-1
while(i<=u):
  mid=(i+u)//2
  if(b[mid]==s_elem):
    print(s_elem,"found at index",mid)
    break
  elif(b[mid]>s_elem):
    u=mid-1
  else:
    i=mid+1
else:
  print(key,"not in list")

Enter the limit:4
Enter the elements:6
Enter the elements:1
Enter the elements:7
Enter the elements:3
List: [6, 1, 7, 3]
Sorted in ascending order: [1, 3, 6, 7]
Enter the element to search:3
3 found at index 1

In [ ]:
#9.list count
limit=int(input("Enter the limit:"))
a=[]
for i in range(limit):
  n=input()
  a.append(n)
print("List:",a)

num=input("Enter the element to count:")
count=0
for i in a:
  if(num==i):
    count=count+1
print(num,"occured at",count,"times")

Enter the limit:3
1
2
2
List: ['1', '2', '2']
Enter the element to count:2
2 occured at 2 times

In [ ]:
#22.list prime
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("prime numbers are : ")
for i in range(0,n):
	if a[i]==1:
		continue
	for j in range(2,a[i]):
		if a[i]%j==0:
			break
	else:
		print(a[i])

Enter the number of elements : 1
Enter the elements :
2
prime numbers are :
2

In [ ]:
#20.listoddeven

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])
odd=[]
even=[]
for i in range(0,n):
	if a[i]%2==0:
		even.append(a[i])
	else:
		odd.append(a[i])
print("even list")
for x in even:
	print(x)
print("odd list")
for x in odd:
	print(x)

Enter the number of elements : 4
Enter the elements :
2
3
4
5
List elements are :
2
3
4
5
even list
2
4
odd list
3
5

In [ ]:
#19.listndelete

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")

for i in range(0,n):
	k=int(input())
	a.append(k)

index=int(input("Enter the index : "))
d=int(input("Enter the number of elements to be deleted : "))

for i in range(index+d,n):
	a[i-d]=a[i]
n=n-d
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 4
Enter the elements :
1
2
3
4
Enter the index : 2
Enter the number of elements to be deleted : 1
List elements are :
1
2
4

In [ ]:
#18.listinsertlist

a=[]
n= int(input("Enter the number of elements in first list: "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)

b=[]
m= int(input("Enter the number of elements in second list : "))
print("Enter the elements : ")

for i in range(0,m):
	k=int(input())
	b.append(k)
	a.append(0)

index=int(input("Enter the index of number to exclude : "))

for i in range(n-1,index-1,-1):
	a[i+m]=a[i]

for i in range(0,m):
	a[index+i]=b[i]

print("List elements are : ")
for i in range(0,m+n):
	print(a[i])

Enter the number of elements in first list: 3
Enter the elements :
1
2
3
Enter the number of elements in second list : 4
Enter the elements :
4
5
6
7
Enter the index : 2
List elements are :
1
2
4
5
6
7
3

In [ ]:
#17.listinsertfun
a=[10,20,30,40,50,60,70]
b=[41,42,43]
a.insert(4,b)
print(a)
a.insert(6,65)
print(a)
print(len(a))

[10, 20, 30, 40, [41, 42, 43], 50, 60, 70]
[10, 20, 30, 40, [41, 42, 43], 50, 65, 60, 70]
9

In [ ]:
#16.listinsert

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")

for i in range(0,n):
	k=int(input())
	a.append(k)
a.append(0)

element=int(input("Enter the element to insert"))
index=int(input("Enter the index want to insert: "))

for i in range(n,index,-1):
	a[i]=a[i-1]
a[index]=element

print("List elements are : ")
for i in range(0,n+1):
	print(a[i])

Enter the number of elements : 3
Enter the elements :
1
2
3
Enter the element to insert4
Enter the index want to insert: 3
List elements are :
1
2
3
4

In [ ]:
#15.listevensum

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")

for i in range(0,n):
	k=int(input())
	a.append(k)

s=0
for i in range(0,n):
	if a[i]%2==0:
		s=s+a[i]
print("sum of even nos is : ",s)

Enter the number of elements : 4
Enter the elements :
1
2
3
4
sum is :  6

In [ ]:
#14.listeven
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")

for i in range(0,n):
	k=int(input())
	a.append(k)

for i in range(0,n):
	if a[i]%2==0:
		print("Even:",a[i])

Enter the number of elements : 3
Enter the elements :
1
2
3
2

In [ ]:
#12.listduplicateset

a=[]
n=int(input("Enter the number of elements : "))
for i in range(0,n):
	k=int(input())
	a.append(k)
b=set(a)
a=list(b)
print("After removing duplicates:",a)

Enter the number of elements : 4
1
2
2
3
[1, 2, 3]

In [ ]:
#10.listdelete

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index to delete : "))
for i in range(index,n-1):
	a[i]=a[i+1]
n=n-1
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 4
Enter the elements :
1
2
3
4
Enter the index to delete : 1
List elements are :
1
3
4

In [ ]:
#23.reverselist
list1=[]
num= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(num):
	ele=int(input())
	list1.append(ele)
print("original list:",list1)

leng=len(list1)
for i in range(leng//2):
  list1[i],list1[(leng-1)-i]=list1[(leng-1)-i],list1[i] #swapping

print("Reversed list:",list1)

Enter the number of elements : 4
Enter the elements :
1
2
3
4
original list: [1, 2, 3, 4]
Reversed list: [4, 3, 2, 1]

In [ ]:
#24.sec big
a=[]
limit=int(input("Enter the limit:"))

print("Enter the elements")
for i in range(limit):
  num=input()
  a.append(num)

big=a[0]
s_big=a[1]
for i in range(limit):
  if(a[i]>big):
    s_big=big
    big=a[i]
print("Big number is:",big)
print("2nd big number is:",s_big)

Enter the limit:3
Enter the elements
45
67
21
Big number is: 67
2nd big number is: 45

In [ ]:
#21.sum of odd
a=[]
limit=int(input("Enter the limit:"))

print("Enter the elements")
for i in range(limit):
  num=int(input())
  a.append(num)
sum=0
for i in range(limit):
  if(a[i]%2!=0):
    sum=sum+a[i]
print("sum is:",sum)

Enter the limit:4
Enter the elements
1
2
3
4
sum is: 4

In [ ]:
#11.removeduplicates
a=[]
limit=int(input("Enter the limit:"))

print("Enter the elements")
for i in range(limit):
  num=int(input())
  a.append(num)
print("Original list:",a)

b=[]
for i in a:
  if i not in b:
    b.append(i)
print("List without duplicates:",b)

Enter the limit:4
Enter the elements
1
3
1
2
Original list: [1, 3, 1, 2]
List without duplicates: [1, 3, 2]

In [ ]:
#inheritance

class vehicle:
  def __init__(self,make,model):
    self.make=make
    self.model=model
  def start():
    print("Vehicle started")

In [ ]:
class Shape:
  def __init__(self,name,color):
    self.name=name
    self.color=color
  def display(self):
    for i in self.name:
      print(i,end=" ")
    print("Color of",self.name,"is:",self.color)
class Circle(Shape):
  def __init__(self,name,color,radius):
    super().__init__(name, color)
    self.radius=radius
  def area_perimeter(self):
    print("Area of circle is:",(3.14*self.radius**2))
    print("Perimeter of circle is:",(2*3.14*self.radius))
class Square(Shape):
  def __init__(self,name,color,side):
    super().__init__(name, color)
    self.side=side
  def area_perimeter(self):
    print("Area of square is:",(self.side**2))
    print("Perimeter of square is:",(4*self.side))
class Rectangle(Shape):
  def __init__(self,name,color,length,width):
    super().__init__(name, color)
    self.length=length
    self.width=width
  def area_perimeter(self):
    print("Area of rectangle is:",(self.length*self.width))
    print("Perimeter of rectangle is:",(2*(self.length+self.width)))
c=Circle("Circle","Red",2.5)
c.display()
c.area_perimeter()

s=Square(["Square","rect"],"Yellow",5)
s.display()
s.area_perimeter()

r=Rectangle("Rectangle","Black",8,6)
r.display()
r.area_perimeter()

C i r c l e Color of Circle is: Red
Area of circle is: 19.625
Perimeter of circle is: 15.700000000000001
Square rect Color of ['Square', 'rect'] is: Yellow
Area of square is: 25
Perimeter of square is: 20
R e c t a n g l e Color of Rectangle is: Black
Area of rectangle is: 48
Perimeter of rectangle is: 28

In [ ]:
#3. *Employee Inheritance:*
 #  Build an inheritance hierarchy for employees in an organization. Create a base class Employee with attributes like name and salary. Derive two classes, Manager and Developer. Managers have an additional attribute for the number of subordinates (num_subordinates), while developers have a list of programming languages they are proficient in (programming_languages).

#. *Bank Account Inheritance:*
  # Implement an inheritance hierarchy for bank accounts. Create a base class BankAccount with attributes like account_number, balance, and methods like deposit() and withdraw(). Derive classes SavingsAccount and CheckingAccount. The savings account may have an interest rate, and the checking account may have a limit on overdraft.

#. *Animal Inheritance:*
  # Develop a class hierarchy for animals. Create a base class Animal with attributes like name and age. Derive classes like Mammal, Bird, and Fish. Each derived class should have specific attributes and methods. For example, a Mammal might have a fur_color attribute and a giveBirth() method.

In [ ]:
#multilevel inheritance
class Animal:
  def speak(self):
    print("Animal speaking")
class Dog(Animal):
  def bark(self):
    print("Dog barking")
class Puppy(Dog):
  def eat(self):
    print("Eating bread...")

d=Dog()
d.speak()
d.bark()

print("..........................")
p=Puppy()
p.speak()
p.bark()
p.eat()

Animal speaking
Dog barking
..........................
Animal speaking
Dog barking
Eating bread...

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

for i in range(4,0,-1):
  for j in range(i):
    print("*",end=" ")
  print()

for i in range(5,0,-1):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
* * * *
* * *
* *
*
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
i = 1
while i <= 4:
    j = 1
    while j <= i:
        print(i, end=" ")
        j += 1
    print()
    i += 1

1
2 2
3 3 3
4 4 4 4