<a href="https://colab.research.google.com/github/aryamnair98/Python_Core/blob/main/Pythoninternship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.vote
age=int(input("Enter your age: "))
if(age>=18):
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

In [ ]:
#2.odd or even
num=int(input("Enter the number: "))
if num%2==0:
  print(num, "is even number")
else:
  print(num,"is odd number")

Enter the number: 5
5 is odd number

In [ ]:
#3.largest of 3 numbers
num1=int(input("Enter the number1: "))
num2=int(input("Enter the number2: "))
num3=int(input("Enter the number3: "))
if(num1>num2) and (num1>num3):
  print("number1 is greater")
elif(num2>num1) and (num2>num1):
  print("number2 is greater")
else:
  print("number3 is greater")

Enter the number1: 5
Enter the number2: 4
Enter the number3: 3
number1 is greater

In [ ]:
#4.student ranklist
name=str(input("Enter the student name: "))
mark1=float(input("Enter the mark1: "))
mark2=float(input("Enter the mark2: "))
mark3=float(input("Enter the mark3: "))
total=mark1+mark2+mark3
average=total/3
print("Marklist")
print("Name: ",name)
print("Total mark: ",total)
print("Average: ",average)
if(average>90):
  print("Grade: A+")
elif(average>70):
  print("Grade: B")
elif(average>50):
  print("Grade: C")
else:
  print("Fail")

Enter the student name: arya
Enter the mark1: 23
Enter the mark2: 32
Enter the mark3: 33
Marklist
Name:  arya
Total mark:  88.0
Average:  29.333333333333332
Fail

In [ ]:
#5.electricity bill
name=str(input("Enter your name: "))
unit=float(input("Enter the unit consumed: "))
print("Name: ",name)
if unit<=50:
  bill=unit*3.15
  print("Bill amount: ",bill)
elif (unit>50) and (unit<=100):
  y=unit-50
  bill=(50*3.15)+(y*3.70)
  print("Bill amount: ",bill)
elif (unit>100) and (unit<=150):
  y1=unit-100
  bill=(50*3.15)+(50*3.70)+(y1*4.80)
  print("Bill amount: ",bill)
elif (unit>150) and (unit<=200):
  y2=unit-150
  bill=(50*3.15)+(50*3.70)+(50*4.80)+(y2*6.40)
  print("Bill amount: ",bill)
else:
  print("No bill amount")

Enter your name: arya
Enter the unit consumed: 106
Name:  arya
Bill amount:  371.3

In [ ]:
#6.determine season based on month
month=int(input("Enter the month (1-12): "))

if 3<=month<=5:
    season="Spring"
elif 6<=month<=8:
    season="Summer"
elif 9<=month<=11:
    season="Autumn"
else:
    season="Winter"

print("The season is", season)

Enter the month (1-12): 2
The season is Winter

In [ ]:
#7.discount on purchase
total_price=float(input("Enter the total price: "))

if total_price>100:
    discount=total_price * 0.10
else:
    discount=0

final_price=total_price - discount
print("Discount: $", discount)
print("Final Price: $", final_price)

Enter the total price: 240
Discount: $ 24.0
Final Price: $ 216.0

In [ ]:
#8.primenumber
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 5
5 is a prime number

In [ ]:
#9.string slicing
name="python programming"
print(name[2:7])
print(name[-9:-3])
print(name[::-1])
print(name[:7])
name1="welcome"
print(name+"-"+name1)
print(name1*5)

thon
ogramm
gnimmargorp nohtyp
python
python programming-welcome
welcomewelcomewelcomewelcomewelcome

In [ ]:
#10.list
mylist=["Arya",25,"Pathanamthitta",25000]
print(mylist)
print(mylist[3])
print(mylist[-2])
print(mylist[1:3])
print(mylist[-4:-2])
#nested index
print(mylist[0][2])
print(mylist[0][-3])

['Arya', 25, 'Pathanamthitta', 25000]
25000
Pathanamthitta
[25, 'Pathanamthitta']
['Arya', 25]
y
r

In [ ]:
#11.tuple
tuple1=("Arya",25,"Pathanamthitta",25000)
print(tuple1)
print(tuple1[1])
print(tuple1[-2])
print(tuple1[0:3])
print(tuple1[-3:-1])
#nested index
print(tuple1[0][2])
print(tuple1[0][-3])

('Arya', 25, 'Pathanamthitta', 25000)
25
Pathanamthitta
('Arya', 25, 'Pathanamthitta')
(25, 'Pathanamthitta')
y
r

In [ ]:
#12.set
myset={29,2,375,"oneteam",2,'a',2,'a'}
print(myset)

{2, 'a', 375, 'oneteam', 29}

In [ ]:
#13.dictionary
mydict={1:2,2:5,3:7,4:8,5:6}
print(mydict)
mypro={'name':'Arya','age':25,'place':'Adoor'}
print(mypro)
print(mypro['name'])
print(mypro['age'])
print(mypro['place'])

{1: 2, 2: 5, 3: 7, 4: 8, 5: 6}
{'name': 'Arya', 'age': 25, 'place': 'Adoor'}
Arya
25
Adoor

In [ ]:
#14.check number is positive,negative and zero

number=float(input("Enter the number: "))
if(number>0):
  print(number," is a positive number")
elif(number==0):
  print("It is zero")
else:
  print(number," is a negative number")

Enter the number: 5
5.0  is a positive number

In [ ]:
#15.season
month=int(input("Enter the month[1-12]: "))
if 3 <= month <=5:
  print("spring")
elif 6 <= month <=8:
  print("summer")
elif 9 <= month <=11:
  print("autumn")
else:
  print("winter")

Enter the month[1-12]: 6
summer

In [ ]:
#16.dressing for the weather
temp=float(input("Enter the current temperature in degrees fahrenheit: "))
if temp>=70:
  print("wear shorts and t-shirt")
elif 50 <= temp <= 69:
  print("wear jeans and light jacket")
else:
  print("wear heavy coat and warm pants")

Enter the current temperature in degrees fahrenheit: 5
wear heavy coat and warm pants

In [ ]:
#17.leap year
year=int(input("Enter the year: "))
if (year%4==0) or (year%100==0) and (year%400==0):
  print(year," is a leap year")
else:
  print(year," is not a leap year")

Enter the year: 2028
2028  is a leap year

In [ ]:
#18.type
a=10
print(type(a))
s=str(a)
print(type(s))
print(s)

<class 'int'>
<class 'str'>
10

In [ ]:
#19.list
mylist=['Arya',24,'a',45678900]
print(mylist)
print(type(mylist))
mytuple=tuple(mylist)
print(type(mytuple))
print(mytuple)

['Arya', 24, 'a', 45678900]
<class 'list'>
<class 'tuple'>
('Arya', 24, 'a', 45678900)

In [ ]:
#20.looping
#while loop
count=1
while(count<=50):
  print("Count value is: ",count)
  count+=1

Count value is:  1
Count value is:  2
Count value is:  3
Count value is:  4
Count value is:  5
Count value is:  6
Count value is:  7
Count value is:  8
Count value is:  9
Count value is:  10
Count value is:  11
Count value is:  12
Count value is:  13
Count value is:  14
Count value is:  15
Count value is:  16
Count value is:  17
Count value is:  18
Count value is:  19
Count value is:  20
Count value is:  21
Count value is:  22
Count value is:  23
Count value is:  24
Count value is:  25
Count value is:  26
Count value is:  27
Count value is:  28
Count value is:  29
Count value is:  30
Count value is:  31
Count value is:  32
Count value is:  33
Count value is:  34
Count value is:  35
Count value is:  36
Count value is:  37
Count value is:  38
Count value is:  39
Count value is:  40
Count value is:  41
Count value is:  42
Count value is:  43
Count value is:  44
Count value is:  45
Count value is:  46
Count value is:  47
Count value is:  48
Count value is:  49
Count value is:  50

In [ ]:
#21.while loop
count=2
while(count<=50):
  print("Count value is: ",count)
  count+=2

Count value is:  2
Count value is:  4
Count value is:  6
Count value is:  8
Count value is:  10
Count value is:  12
Count value is:  14
Count value is:  16
Count value is:  18
Count value is:  20
Count value is:  22
Count value is:  24
Count value is:  26
Count value is:  28
Count value is:  30
Count value is:  32
Count value is:  34
Count value is:  36
Count value is:  38
Count value is:  40
Count value is:  42
Count value is:  44
Count value is:  46
Count value is:  48
Count value is:  50

In [ ]:
#22.multiplication table
number=int(input("Enter the number: "))
count=1
while(count<=10):
   result=count*number
   print(count ,"*",number,"=" ,result)
   count+=1

Enter the number: 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [ ]:
#23.sum of even numers
limit=int(input("Enter the limit: "))
count=0
sum=0
while(count<=limit):
  sum=sum +count
  count+=2
print("sum of",limit,"even numbers are:",sum)

Enter the limit: 20
sum of 20 even numbers are: 110

In [ ]:
#24.product of even number
limit=int(input("Enter the limit: "))
count=1
product=1
while(count<=limit):
  if(count%2==0):
    product=product*count
  count+=1
print("sum of",limit,"even numbers are:",product)

Enter the limit: 10
sum of 10 even numbers are: 3840

In [ ]:
#25.sum of natural numbers
limit=int(input("Enter the limit: "))
sum=0
count=1
while(count<=limit):
  sum+=count
  count+=1
print(sum)

Enter the limit: 10
55

In [ ]:
#26.sum of natural numbers
limit=int(input("Enter the limit: "))
sum_1=limit*(limit+1)
total=sum_1/2
print("sum of",limit,"natural numbers are:",total)

Enter the limit: 10
sum of 10 natural numbers are: 55.0

In [ ]:
#27.factorial of a number
num=int(input("Enter the number:"))
fact=1
count=1
if(num==0) or (num==1):
  print("factorial is 1")
elif(num<0):
  print("There is no factorial")
else:
  while(count<=num):
    fact*=count
    count+=1
  print("Factorial is:",fact)

Enter the number:5
Factorial is: 120

In [ ]:
#28.sum of digits
number=int(input("Enter the number:"))
sum_of_digits=0
while(number>0):
  digits=number%10
  sum_of_digits+=digits
  number//=10
print("sum of the number is:",sum_of_digits)

Enter the number:12
sum of the number is: 3

In [ ]:
#29.break
count=1
while(count<=10):
  print(count)
  if(count==5):
    break
  count+=1

1
2
3
4
5

In [ ]:
#30.continue
count=0
while(count<=10):
  count+=1
  if(count==5):
    continue
  print(count)

1
2
3
4
6
7
8
9
10
11

In [ ]:
#31.break,continue,pass
var=10
while(var>0):
  var-=1
  if(var==5):
    pass
    #break
    #continue
  print("Current value is:",var)
print("Thank you")

Current value is: 9
Current value is: 8
Current value is: 7
Current value is: 6
Current value is: 5
Current value is: 4
Current value is: 3
Current value is: 2
Current value is: 1
Current value is: 0
Thank you

In [ ]:
#32.for loop
for i in "Oneteam":
  print(i)

mylist=["Arya",25,"Adoor"]
for var in mylist:
  print(var)

O
n
e
t
e
a
m
Arya
25
Adoor

In [ ]:
#33.factorial using for loop and range()
num=int(input("Enter the number:"))
fact=1
if(num==0) or (num==1):
  print("factorial is 1")
elif(num<0):
  print("There is no factorial")
else:
  for i in range(1,num+1):
    fact=fact*i
  print("Factorial is:",fact)

Enter the number:5
Factorial is: 120

In [ ]:
#34.reversing list using insert()
original_list=["Arya",25,"Adoor"]
reversed_list=[]
for i in original_list:
  reversed_list.insert(0,i)
  #reversed_list=original_list[::-1]
print("Reversed list is:",reversed_list)
print("Original list is:",original_list)

Reversed list is: ['Adoor', 25, 'Arya']
Original list is: ['Arya', 25, 'Adoor']

In [ ]:
#35.occurances of item in list
numbers=[1,2,3,4,2,4,3,1,1,2,5]
count={}

for i in numbers:
  if(i in count):
    count[i]+=1
  else:
    count[i]=1
print(count)

{1: 3, 2: 3, 3: 2, 4: 2, 5: 1}

In [ ]:
#36.string palindrome
word=str(input("Enter the word: "))
#word="malayalam"
rev=""
for i in word:
  rev=i+rev
if(word==rev):
  print(word,"is palindrome")
else:
  print(word,"is not palindrome")

Enter the word: malayalam
malayalam is palindrome

In [ ]:
num=int(input("Enter the number:"))
square=num**2
cube=num**3
sq_mod=pow(10,len(str(num)))
cu_mod=pow(10,len(str(num)))

#automorphic
if(square % sq_mod == num):
  print("It is automorphic")
else:
  print("It is not automorphic")

#trimorphic
if(cube % cu_mod == num):
  print("It is trimorphic")
else:
  print("It is not trimorphic")

Enter the number:5001
It is not automorphic
It is trimorphic

In [ ]:
#37.calculator

#display choices
print("Enter:\n\n1. Addition\n2. Subtraction\n3. Multiplication\n4. Division\n5. Modulo\n")

#enter operation to be performed
operation = input("Enter your choice: ")

#enter values
num1=float(input("Enter the number1:"))
num2=float(input("Enter the number2:"))

result=0

#give condtions based on choice
if(operation=="1"):
  result=num1+num2
elif(operation=="2"):
  result=num1-num2
elif(operation=="3"):
  result=num1*num2
elif(operation=="4"):
  if(num2==0):
    print("Division by zero not allowed")
  else:
    result=num1/num2
elif(operation=="5"):
  result=num1%num2
else:
  print("Input is invalid")

  #display answer
print("Answer is:",result)

Enter:

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Modulo

Enter your choice: 4
Enter the number1:45
Enter the number2:5
Answer is: 9.0

In [ ]:
#38.checking triangle using sides

#enter sides
s1=int(input("Enter side1:"))
s2=int(input("Enter side2:"))
s3=int(input("Enter side3:"))

#calculate square of sides
sqr_s1=s1**2
sqr_s2=s2**2
sqr_s3=s3**2

#give conditions for right,acute and obtuse angled triangles
if(sqr_s1 == sqr_s2+sqr_s3) or (sqr_s2 == sqr_s1+sqr_s3) or (sqr_s3==sqr_s1+sqr_s2):
  print("The triangle is right-angled traingle")
#elif(sqr_s1 > sqr_s2+sqr_s3) or (sqr_s2 > sqr_s1+sqr_s3) or (sqr_s3 > sqr_s1+sqr_s2):
 # print("The triangle is obtuse-angled traingle")
#elif(sqr_s1 < sqr_s2+sqr_s3) or (sqr_s2 < sqr_s1+sqr_s3) or (sqr_s3 < sqr_s1+sqr_s2):
 # print("The triangle is acute-angled traingle")
else:
  print("The triangle is not right-angled traingle")

Enter side1:12
Enter side2:7
Enter side3:8
The triangle is obtuse-angled traingle

In [ ]:
#39.checking triangle using angle
#enter angles
angle1=int("Enter the angle1:")
angle2=int("Enter the angle2:")
angle3=int("Enter the angle3:")

#calculate sum to check 180 or not
sum=angle1+angle2+angle3

#give conditions to check right angle or not
if(sum==180):
  if(angle1==90) or (angle2==90) or (angle3==90):
    print("It is right angled triangle")
  else:
    print("Not right angled triangle")
else:
  print("Not right angled triangle")

In [ ]:
#string methods
#length
my_string="python programming"
print(len(my_string))
#uppercase
print(my_string.upper())
#lowercase
print(my_string.lower())
#capitalize
print(my_string.capitalize())
#count
s="hello,hello,hello,hello,hello"
count=s.count("hello")
print(count)
#replace
new_string="Hello,world!"
rep_string=new_string.replace("Hello","Hai")
print(rep_string)
#split
s1="apple/orange/banana"
s2=s1.split("/")
print(s2)

18
PYTHON PROGRAMMING
python programming
Python programming
5
Hai,world!
['apple', 'orange', 'banana']

In [ ]:
#list inbuilt methods
#append
my_list=[1,2,3]
my_list.append(4)
print(my_list)

#extend
my_list=[1,2,3]
my_list.extend([4,5,6])
print(my_list)

#insert
my_list=[1,2,3]
my_list.insert(1,12)
print(my_list)

#remove
my_list=[1,2,3,2]
my_list.remove(2)
print(my_list)

#pop using index
my_list=[1,2,3,2]
my_list.pop(2)
print(my_list)

#find index
my_list=[1,2,3,2]
s=my_list.index(2)
print(s)

#count
my_list=[1,2,3,2,3,4,3,3]
count=my_list.count(3)
print(count)

#sort
#ascending order
my_list=[41,12,63,32]
my_list.sort()
print(my_list)

#descending-order
my_list=[41,12,63,32]
s_desc=sorted(my_list,reverse=True)
print(s_desc)

#reverse
my_list=[41,12,63,32]
my_list.reverse()
print(my_list)

#clear
my_list=[41,12,63,32]
my_list.clear()
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 12, 2, 3]
[1, 3, 2]
[1, 2, 2]
1
4
[12, 32, 41, 63]
[63, 41, 32, 12]
[32, 63, 12, 41]
[]

In [ ]:
#tuple inbuilt methods
my_tuple=("apple","banana","orange")

#index
t=my_tuple.index("banana")
print(t)

#count
my_tuple=("apple","banana","orange","apple","apple","banana")
t1=my_tuple.count("apple")
print(t1)

1
3

In [ ]:
#python progrms for practise
#1.fibanocii series up to 10 terms
limit=int(input("Enter the limit:"))
n1=0
n2=1
for i in range(limit):
  print(n1)
  result=n1+n2
  n1=n2
  n2=result

Enter the limit:10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#set inbuilt functions
myset={1,2,3,4,5}
#add
myset.add(6)
print(myset)

#update
myset.update([7,-4])
print(myset)
myset={1,2,3,4,5}

#remove & discard
myset.remove(3)
print(myset)
myset.discard(5)
print(myset)

#pop and clear
myset.pop()
print(myset)
myset.clear()
print(myset)

#union,intersection and difference
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)
inter_set=set1.intersection(set2)
print(inter_set)
diff_set=set1.difference(set2)
print(diff_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, -4}
{1, 2, 4, 5}
{1, 2, 4}
{2, 4}
set()
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
#dict inbuilt methods
mydict={1:1,2:4,3:9,4:16}
print(mydict)
print(mydict[3])
mydict[3]=90
print(mydict)
#add
mydict[5]=25
print(mydict)
#deleting
del mydict[3]
print(mydict)
#keys & values
k=mydict.keys()
v=mydict.values()
print(k)
print(v)
i=mydict.items()
print(i)

{1: 1, 2: 4, 3: 9, 4: 16}
9
{1: 1, 2: 4, 3: 90, 4: 16}
{1: 1, 2: 4, 3: 90, 4: 16, 5: 25}
{1: 1, 2: 4, 4: 16, 5: 25}
dict_keys([1, 2, 4, 5])
dict_values([1, 4, 16, 25])
dict_items([(1, 1), (2, 4), (4, 16), (5, 25)])

In [ ]:
#1. write a python program to output welcome to python
s="welcome to python"
print(s)

welcome to python

In [ ]:
#2. write a python program to declare multiple variables in a single line
a,b=20,40
print("value of a:",a)
print("value of b:",b)

value of a: 20
value of b: 40

In [ ]:
#3. write a python program with legal and illegal variables
#legal
myvar = "Arya"
my_var = "M"
_my_var = "Nair"
myVar = "25"
MYVAR = "Adoor"
myvar5 = "MCA"
print(myvar,my_var,_my_var,myVar,MYVAR,myvar5)
#illegal
'''5myvar = "Python"
my-var = "Hello"
my var = "Hai"
print(5myvar,my-var, my var)'''

Arya M Nair 25 Adoor MCA

'5myvar = "Python"\nmy-var = "Hello"\nmy var = "Hai"\nprint(5myvar,my-var, my var)'

In [ ]:
#4. write a python program to combine two variables
str1="Hello"
str2="Arya"
str3=str1+str2
print(str3)
#5. write a program to get the data type of an object
a=10
print(type(a))
s="welcome"
print(type(s))

HelloArya
<class 'int'>
<class 'str'>

In [ ]:
#6. write a program to input multiline strings
lines =int(input("No of lines"))
lines1 = ""
for i in range(lines):
    lines1+=input()+"\n"

print(lines1)

hai arya
hello arya
welcome
nice to meet you
python programming
oneteam solutions
hai arya
hello arya
welcome
nice to meet you
python programming
oneteam solutions

In [ ]:

#7. write a program to convert one data type into other
a=10
print(type(a))
s=str(a)
print(type(s))
#8. .write a program to input a string
str1=str(input("Enter the word:"))
print(str1)

<class 'int'>
<class 'str'>
Enter the word:hello arya
hello arya

In [ ]:
#9. str2=''communication" then find str2[0] ,str2[1] ,str2[-1] ,str2[-4],str2[2:12:3],str2[3:9:2],Str2[::3],str2[::2],Str2[::-2],str2[::-1]'''

str2="communication"
print(str2[0])
print(str2[1])
print(str2[-1])
print(str2[-4])
print(str2[2:12:3])
print(str2[3:9:2])
print(str2[::3])
print(str2[::2])
print(str2[::-2])
print(str2[::-1])

c
o
n
t
mnao
mnc
cmitn
cmuiain
niaiumc
noitacinummoc

In [ ]:
#10.write a program to generate random numbers
import random
print(random.randint(1,10))

4

In [ ]:
#11.write a python pgm to use isalnum method
str=input("Enter the string:")
if(str.isalnum()):
  print("The string contains only alphaneumeric characters")
else:
  print("The string contains no alphaneumeric characters")

Enter the string:hai89
string contains only alphaneumeric characters

In [ ]:
#12. convert a string to a lower
str1="WELCOME"
print(str1.lower())

#13. Write a python program to use capitalize method
str2="welocme arya"
print(str2.capitalize())

#14. remove white spaces from the begging of a string
word="  hai arya"
print(word.lsstrip())

welcome
Welocme arya
hai arya

In [ ]:
#15.Write a python program to use ends with the method
word="welocme to python"
res=word.endswith("python")
print(res)

#16.write a program to check whether a certain character or phrase is present in a string or not
str="The life is so beautiful, best things in life are free"
print("life" in str)

True
True

In [ ]:
#17. write a program to find the length of a string
str1="welcome"
print(len(str1))

#18. write a program to split the strings into substrings
str2="apple,banana,orange"
print(str2.split(","))

#19. Write a python program to use the case fold method
str="WELCOME"
print(str.casefold()) #lowercase copy of str

7
['apple', 'banana', 'orange']
welcome

In [ ]:

#20. write a program to replace a string with other
str3="hello arya"
str3.replace("hello","hai")
print(str3)
#20.Get the first character of the string txt. txt = "Welcome to python"
txt = "Welcome to python"
print(txt[0])
#21. Get the characters from index 2 to index 4
txt = "Welcome to python"
print(txt[2:5])

hello arya
W
lco

In [ ]:
#22.Return the string without any whitespace at the beginning of the end. txt = " Welcome to python "
txt = " Welcome to python "
print(txt.strip())

#23&24. Using the type() function assign the type of the variable to answer_1, then print it.
men_stepped_on_the_moon=12
answer_1=type(men_stepped_on_the_moon)
print(answer_1)

#25 &26 &27.str="It's always darkest before dawn." ,Replace the (.) with (!) , Reassign str so that, all its characters are lowercase.
str="It's always darkest before dawn."
print(str.replace(".","!"))
str=str.lower()
print(str)

Welcome to python
<class 'int'>
It's always darkest before dawn!
it's always darkest before dawn.

In [ ]:
#28.str="EVERY Strike Brings Me Closer to the Next Home run."
#29.Make the string so that everything is properly and the first letter is capital str=" there are no traffic JamS Along with The extra "
str=" there are no traffic JamS Along with The extra"
print(str.title())

 There Are No Traffic Jams Along With The Extra

In [ ]:
#30. Print the types of two given variables with the print function. v_1="1" v_2=1
v_1="1"
v_2=1
print(type(v_1))
print(type(v_2))

#31. What is the length of the given string? str="1.975.000"
str="1.975.000"
print(len(str))

# 32.write a program To check whether a character is a numeric character or not,
w='a'

print(w.isdigit())

<class 'str'>
<class 'int'>
9
False
False
True
False
True
False
True

In [ ]:
#33 Perform comparison operations x=5,y=6
x=5
y=6
print(x > y)
print(x < y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

In [ ]:
#34. write a python program using the not in operator

str="Hello python programming"
print("hai" not in str)

True

In [ ]:
#35.write a python program using is the operator
#36. write a python program using is not operator
str1="Hello"
str2="Hello"
s=5
s1=6
print(str1 is str2)
print(s is not s1)

True
True

In [ ]:
#37. X=10 Y=3 Print X+y,X -y,X*y ,X//y ,X**y
x=10
y=3
print(x+y)
print(x-y)
print(x*y)
print(x//y)
print(x**y)

13
7
30
3
1000

In [ ]:
#38.Print 1-500 using while loops
i=1
while(i<=500):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [ ]:
#39. Write a program using the if,elif, and else statement
num1=int(input("Enter the number1: "))
num2=int(input("Enter the number2: "))
num3=int(input("Enter the number3: "))
if(num1>num2) and (num1>num3):
  print("number1 is greater")
elif(num2>num1) and (num2>num1):
  print("number2 is greater")
else:
  print("number3 is greater")

Enter the number1: 3
Enter the number2: 2
Enter the number3: 8
number3 is greater

In [ ]:
#40. Use continue statement in while loops
i=0
while(i<=10):
  i+=1
  if(i==3):
    continue
  print(i)

1
2
4
5
6
7
8
9
10
11

In [ ]:
#41.Use break statement in while loops
i=0
while(i<=10):
  print(i)
  if(i==3):
    break
  i+=1

0
1
2
3

In [ ]:
#42. create a list with itemsx=['apple','banana','cherry','grapes','kiwi','tomato','mango','orange','banana',True ,False,10,20,10.5]
x=['apple','banana','cherry','grapes','kiwi','tomato','mango','orange','banana',True ,False,10,20,10.5]
print(x[0])
print(x[5])
print(x[-1])
print(x[-2])
print(x[3:10])
print(x[2:11])
print(x[::9])
print(x[4::])
print(x[2:10:2])
print(x[1:11:3])
print(x[::3])
print(x[::-2])
print(x[::-1])

apple
tomato
10.5
20
['grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True]
['cherry', 'grapes', 'kiwi', 'tomato', 'mango', 'orange', 'banana', True, False]
['apple', True]
['kiwi', 'tomato', 'mango', 'orange', 'banana', True, False, 10, 20, 10.5]
['cherry', 'kiwi', 'mango', 'banana']
['banana', 'kiwi', 'orange', False]
['apple', 'grapes', 'mango', True, 20]
[10.5, 10, True, 'orange', 'tomato', 'grapes', 'banana']
[10.5, 20, 10, False, True, 'banana', 'orange', 'mango', 'tomato', 'kiwi', 'grapes', 'cherry', 'banana', 'apple']

In [ ]:
#43. write a python program to create a new list
limit=int(input("Enter the limit:"))
my_list=[]


for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)

print(my_list)

Enter the limit:3
Enter the numbers:1
Enter the numbers:2
Enter the numbers:3
[1, 2, 3]

In [ ]:
#44. .write a program to retrieve the first item from a list
mylist=[2,5,7,9,6,4]
print(mylist[0])

#45. .write a program to determine the length of a list
print(len(mylist))

#46. .write a python program to change the first item in a list
mylist=[2,5,7,9,6,4]
print(mylist)
mylist[0]=8
print(mylist)

2
6
[2, 5, 7, 9, 6, 4]
[8, 5, 7, 9, 6, 4]

In [ ]:
#47. write a python program using negative indexing
mylist=[2,5,7,9,6,4]
print(mylist[-1])
print(mylist[-3])

4
9

In [ ]:
#48. write a program to add a new item to the end of a list
mylist=[2,5,7,9,6,4]
mylist.append(10)
print(mylist)

[2, 5, 7, 9, 6, 4, 10]

In [ ]:
#49. create a list and display the list in reverse order
list1=[3,5,7,9,11,13]
list1.reverse()
print(list1)

[13, 11, 9, 7, 5, 3]

In [ ]:
#50. write a program to find the maximum value in a list
my_list=[65,78,23,34,89,45,56]

i=0
big_num=my_list[0]
while(i<len(my_list)):
  if my_list[i]>big_num:
    big_num=my_list[i]
  i+=1

print("Biggest number:",big_num)

Biggest number: 89

In [ ]:
#51. write a program to display the index of an element in a list
my_list=[65,78,23,34,89,45,56]
print(my_list)
n=int(input("number for index:"))
s=my_list.index(n)
print("Index of",n,"is",s)

[65, 78, 23, 34, 89, 45, 56]
number for index:89
Index of 89 is 4

In [ ]:
#52. write a program to count the occurrence of an Element in a list
limit=int(input("Enter the limit:"))
my_list=[]

for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)

num=int(input("Enter the number to search:"))

count=0

for i in my_list:
  if(i==num):
    count+=1
print(num,"comes from",count,"times")

Enter the limit:5
Enter the numbers:3
Enter the numbers:3
Enter the numbers:3
Enter the numbers:2
Enter the numbers:6
Enter the number to search:3
Calculate the count
3 comes from 3 times

In [ ]:
#53. create a nested list and display each item from the list
mylist= [2,4,[6,8,]]
print(mylist[0])
print(mylist[1])
print(mylist[2][0])
print(mylist[2][1])

for i in mylist:
  print(i)

2
4
6
8
2
4
[6, 8]

In [ ]:
#54.Based on a list of fruits, create a new list, containing only the fruits with the letter "a" in the name
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new=[]
for i in fruits:
  if "a" in i:
    new.append(i)
print(new)

['apple', 'banana', 'mango']

In [ ]:
#55. fruits = ["apple", "banana", "cherry", "kiwi", "mango"] Based on a list of fruits, create a new list, Only accept items that are not "kiwi"
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new=[]

for i in fruits:
  if(i !="kiwi"):
    new.append(i)
print(new)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#56. fruits = ["apple", "banana", "cherry", "kiwi", "mango"] Based on a list of fruits, create a new list, Set the values in the new list to upper case
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new=[]
for i in fruits:
  new.append(i.upper())
print(new)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
#57. create a list and iterate over the list
mylist=[1,3,5,7,8]
for i in mylist:
  print(i)

1
3
5
7
8

In [ ]:
#58.write a program using for loop with a break statement
for i in range(10):
  print(i)
  if(i==5):
    break

0
1
2
3
4
5

In [ ]:
#59.write a program using for loop with a continue statement
for i in range(10):
  if(i==5):
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
#60. write a program using range function with starting parameter and increment parameter
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
#61. write a program to create a tuple
tuple1=(1,2,"apple","kiwi")
for i in tuple1:
  print(i)
print(tuple1)

#62. write a program to get the length of a tuple
print(len(tuple1))

#63. write a program to return the data type of a tuple
print(type(tuple1))

1
2
apple
kiwi
(1, 2, 'apple', 'kiwi')
4
<class 'tuple'>

In [ ]:
#64. create a tuple with items kiwi, orange, grapes, apple,
mytup=("kiwi","orange","grapes","apple")
print(mytup)

#65. then add a new item (melon) to the first index
list1=list(mytup)
print(list1)
list1[0]="melon"
mytup=tuple(list1)
print(mytup)

('kiwi', 'orange', 'grapes', 'apple')
['kiwi', 'orange', 'grapes', 'apple']
('melon', 'orange', 'grapes', 'apple')

In [ ]:
#66. write a program to append an item to the tuple
mytup=("kiwi","orange","grapes","apple")
item="melon"
new_tup=mytup+(item,)
print(new_tup)

('kiwi', 'orange', 'grapes', 'apple', 'melon')

In [ ]:
#67. write a program to remove an item from a tuple
mytup=("kiwi","orange","grapes","apple")
print(mytup)
list1=list(mytup)
list1.remove('kiwi')
mytup=tuple(list1)
print(mytup)

('kiwi', 'orange', 'grapes', 'apple')
('kiwi', 'orange', 'grapes', 'apple')
('orange', 'grapes', 'apple')

In [ ]:
#68. write a program to concatenate two tuples
tup1=("kiwi","orange","grapes")
tup2=(1,2,3)
tup3=tup1+tup2
print(tup3)

('kiwi', 'orange', 'grapes', 1, 2, 3)

In [ ]:
#69.rite a program to extract the values from a tuple into variables
tup1=("kiwi","orange","grapes")
v1,v2,v3=tup1
print(v1)
print(v2)
print(v3)

kiwi
orange
grapes

In [ ]:
#70. extract values from tuple using Asterix
tup1=("kiwi","orange","grapes")
v1,v2,*v3=tup1
print(v1)
print(v2)
print(v3)

kiwi
orange
['grapes']

In [ ]:
#71. count the number of occurrences of an item in a tuple
t1=(1,2,3,2,4,2,5)
print(t1)
n=int(input("enter item to count:"))
counts=t1.count(n)
print(n,"items count is:",counts)

(1, 2, 3, 2, 4, 2, 5)
enter item to count:2
2 items count is: 3

In [ ]:
#72. remove items from a tuple by using merge with +Character
t1=(1,2,3,2,4,2,5)
t2=()
t2=t1[:2]+t1[3:]
print("after merge operation",t2)
list1=[]
list1=list(t2)
list1.remove(2)
#print(list1)
t2=tuple(list1)
print("after removing item",t2)

after merge operation (1, 2, 2, 4, 2, 5)
after removing item (1, 2, 4, 2, 5)

In [ ]:
#73.slice a tuple using start-stop, step parameter
t1=(1,2,3,2,4,2,5)
print(t1[1:6:2])

#74. slice a tuple with step parameter is negative
print(t1[::-2])

#75.returns a tuple with a jump every 3 times
mytup=("kiwi","orange","grapes","apple","avocado","banana")
print(mytup[::3])

(2, 2, 2)
(5, 4, 3, 1)
('kiwi', 'apple')

In [ ]:
#76. find the maximum value in a tuple
mytup=(23,4,5,67,89)

i=0
big_num=mytup[0]
while(i<len(mytup)):
  if mytup[i]>big_num:
    big_num=mytup[i]
  i+=1

print("Biggest number:",big_num)

Biggest number: 89

In [ ]:
#77. Find min value in a tuple
mytup=(23,4,5,67,89)

i=0
min_num=mytup[0]
while(i<len(mytup)):
  if mytup[i]<min_num:
    min_num=mytup[i]
  i+=1

print("minimum number:",min_num)

minimum number: 4

In [ ]:
#78. find the sum of items in a tuple
mytup=(23,4,5,67,89)
sum=0
for i in mytup:
  sum+=i
print("sum of items:",sum)

sum of items: 188

In [ ]:
#79. write a program to find the index of an item
n=int(input("enter limit:"))
list1=[]
for i in range(n):
  items=input("Enter items:")
  list1.append(items)
mytup=[]
mytup=tuple(list1)
num=input("enter the item to know index:")
in1=mytup.index(num)
print(num,"index is:",in1)

enter limit:4
Enter items:apple
Enter items:orange
Enter items:guva
Enter items:cherry
enter the item to know index:guva
guva index is: 2

In [ ]:
#80. write a program to find the length of a set
myset = {"apple", "banana", "cherry"}
print(len(myset))

3

In [ ]:
#81. write a program to create a set
set1={"apple","cherry","orange","banana"}
print(set1)
#82. write a program to remove an item from the set using the remove method
set1.remove("cherry")
print(set1)

{'cherry', 'banana', 'apple', 'orange'}
{'banana', 'apple', 'orange'}

In [ ]:
#83. write a program to add items from one set to another
set1={"apple","cherry","orange","banana"}
set2=set()
for i in set1:
  set2.add(i)
print(set2)

{'cherry', 'banana', 'apple', 'orange'}

In [ ]:
#84. write a program to join two sets
set1={1,2,3,4}
set2={5,6,7,8}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#85. write a program to remove an item from the set using the discard method
set1={"apple","cherry","orange","banana","kiwi"}
set1.discard("kiwi")
print(set1)

{'orange', 'cherry', 'apple', 'banana'}

In [ ]:
#86. write a program to add an item to a set
set1={"apple","cherry","orange","banana","kiwi"}
set1.add("grapes")
print(set1)

In [ ]:
#87. write a program using the symmetric difference method
set1={1,2,3,7}
set2={2,5,6,7}
set3=set1.difference(set2)
set4=set1.symmetric_difference(set2)
print(set3)
print(set4)

{1, 3}
{1, 3, 5, 6}

In [ ]:
#88. write a program using the intersection update method
set1={1,2,3,7}
set2={2,5,6,7}
set1.intersection_update(set2)  #removes items from 1st set that is not present in both sets
print(set1)

{2, 7}

In [ ]:
#89. Write a Python script to add a key to a dictionary
mydict={'name':'Arya','age':25}
print(mydict)
mydict["city"]="Adoor"
print(mydict)

{'name': 'Arya', 'age': 25}
{'name': 'Arya', 'age': 25, 'city': 'Adoor'}

In [ ]:
#90. Write a Python script to check whether a given key already exists in a dictionary
mydict={'name':'Arya','age':25,'city': 'Adoor'}
print(mydict)
key=mydict.keys()
k=input("Enter the key to search:")
if k in key:
  print("Key is exist in the dictionary")
else:
  print("Key is not exist in the dictionary")

{'name': 'Arya', 'age': 25, 'city': 'Adoor'}
Enter the key to search:phone
Key is not exist in the dictionary

In [ ]:
#91. .Write a Python program to get the key, value, and item in a dictionary.
mydict={'name': 'Arya', 'age': 25, 'city': 'Adoor'}
k=mydict.keys()
v=mydict.values()
i=mydict.items()
print(k)
print(v)
print(i)

dict_keys(['name', 'age', 'city'])
dict_values(['Arya', 25, 'Adoor'])
dict_items([('name', 'Arya'), ('age', 25), ('city', 'Adoor')])

In [ ]:
#92. print the value of the "model" key of the car dictionary using the get method car = {"brand": "Ford","model": "Mustang","year": 1964}
car = {"brand": "Ford","model": "Mustang","year": 1964}
print(car)
val=car.get("model")
print("value of model key is:",val)

#93. Change the "year" value from 1964 to 2020. in the above dictionary
car["year"]=2020
print(car)

value of model key is: Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#94. Write a Python program to remove a key from a dictionary.
car = {"brand": "Ford","model": "Mustang","year": 1964}
car1=car.pop("model")
print(car)
del car["year"]
print(car)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford'}

In [ ]:
#95.create a dictionary using dict constructor
dict1={}
mydict={2:4,4:8,8:16,16:32}
print("without using constructor",mydict)
dict1=dict(mydict)
print("using constructor:",dict1)

without using constructor {2: 4, 4: 8, 8: 16, 16: 32}
using constructor: {2: 4, 4: 8, 8: 16, 16: 32}

In [ ]:
#96. write a program with a dictionary update method
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.update({"color":"Black"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

In [ ]:
#97. write a program to remove the last inserted item from a dictionary
mydict={'name': 'Arya', 'age': 25, 'city': 'Adoor'}
print(mydict)
result=mydict.popitem()
print(mydict)

{'name': 'Arya', 'age': 25, 'city': 'Adoor'}
{'name': 'Arya', 'age': 25}

In [ ]:
#98. write a program to empty a dictionary
mydict={'name': 'Arya', 'age': 25, 'city': 'Adoor'}
print(mydict)
mydict.clear()
print(mydict)

{'name': 'Arya', 'age': 25, 'city': 'Adoor'}
{}

In [ ]:
#99. write a program to copy a dictionary
mydict={'name': 'Arya', 'age': 25, 'city': 'Adoor'}
print("original dictionary:",mydict)
dicts=dict(mydict)
print("copied dictionary:",dicts)

original dictionary: {'name': 'Arya', 'age': 25, 'city': 'Adoor'}
copied dictionary: {'name': 'Arya', 'age': 25, 'city': 'Adoor'}

In [ ]:
#100. Create and call a function

def add():
  a=20
  b=80
  c=a+b
  print(c)

add()

100

In [ ]:
#101. create a function using the arbitrary argument

def sum(*a):
  print("Values:",a)

sum(2,4,5,6,8,9)

Values: (2, 4, 5, 6, 8, 9)

In [ ]:
#102. create a function using an arbitrary keyword argument

def word(**a):
  print("Key and Values are:",a)

word(name='arya',age="25")

Key and Values are: {'name': 'arya', 'age': '25'}

In [ ]:
#103. create a function with a return statement
def sub():
  a=98
  b=67
  c=a-b
  return c
sub()

31

In [ ]:
def sum(a,b):
  c=a+b
  return c

sum(22,67)

89

In [ ]:
#dict methods
mydict={'name':'John','age':30,'city':'newyork'}

print(mydict['name'])

mydict['age']=31
print(mydict)

mydict['occupation']='Engineer'
print(mydict)

del mydict['city']
print(mydict)

k=mydict.keys()
v=mydict.values()
i=mydict.items()

print(k)
print(v)
print(i)

value=mydict.get('age','N/A')
print(value)

value=mydict.get('salary','N/A')
print(value)

removed_value=mydict.pop('age')
print(removed_value)
print(mydict)

removed_value=mydict.popitem()
print(removed_value)
print(mydict)

mydict.clear()
print(mydict)

mydict.update({'country':'USA','age':30})
print(mydict)

John
{'name': 'John', 'age': 31, 'city': 'newyork'}
{'name': 'John', 'age': 31, 'city': 'newyork', 'occupation': 'Engineer'}
{'name': 'John', 'age': 31, 'occupation': 'Engineer'}
dict_keys(['name', 'age', 'occupation'])
dict_values(['John', 31, 'Engineer'])
dict_items([('name', 'John'), ('age', 31), ('occupation', 'Engineer')])
31
N/A
31
{'name': 'John', 'occupation': 'Engineer'}
('occupation', 'Engineer')
{'name': 'John'}
{}
{'country': 'USA', 'age': 30}

In [ ]:
#factorial using function

def fact():

  num=int(input("Enter the number:"))

  fact=1
  count=1

  if(num==0) or (num==1):
    print("factorial is 1")
  elif(num<0):
     print("There is no factorial")
  else:
    while(count<=num):
      fact*=count
      count+=1

    print("Factorial is:",fact)

fact()

Enter the number:5
Factorial is: 120

In [ ]:
#functions
def sum():
  a=10
  b=20
  c=a+b
  return c
sum()

30

In [ ]:
#default parameter passing
def sum(a,b):
  c=a+b
  return c
sum(10,34)

44

In [ ]:
#keyword parameter passing
def sum(a=22,b=89):
  c=a+b
  return c
sum()

111

In [ ]:
#arbitary argument parameter passing
def sum(*a):
  return a
sum(10,34,78,65,43)

(10, 34, 78, 65, 43)

In [ ]:
#temperature converter
choice=int(input("Enter choice 1.farenheit 2.celsius:"))

def faren(temp1):
  faren1=(temp1 * 1.8) + 32
  print(faren1)

def cel(temp2):
  cels=(temp2-32)*(5/9)
  print(cels)

if(choice==1):
  temp1=float(input("Enter temperature in celsius:"))
  faren(temp1)

elif(choice==2):
  temp2=float(input("Enter temperature in farenheit:"))
  cel(temp2)

else:
  print("No input")

Enter choice 1.farenheit 2.celsius:2
Enter temperature in farenheit:89.9
32.16666666666667

In [ ]:
#palindrome
def pal(str1):
  str2=""
  for i in str1:
    str2=i+str2
  if(str1==str2):
    print(str1,"is a palindrome string")
  else:
    print(str1,"not a palindrome string")

str1=str(input("Enter the string:"))
pal(str1)

Enter the string:malayalam
malayalam is a palindrome string

In [ ]:
#maximum number in a list
def big(my_list):
  max = my_list[0]
  for x in my_list:
    if x > max:
      max = x
  print("Maximum element:",max)

limit=int(input("Enter the limit:"))
my_list=[]
for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)
print(my_list)
big(my_list)

Enter the limit:5
Enter the numbers:67
Enter the numbers:54
Enter the numbers:43
Enter the numbers:34
Enter the numbers:21
67

In [ ]:
#sum of elements in list
def sums(my_list):
  sum=0
  for x in my_list:
    sum=sum+x
  print("Sum of values in list:",sum)

limit=int(input("Enter the limit:"))
my_list=[]
for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)
print(my_list)
sums(my_list)

390

In [ ]:
#remove duplicates from list
def dupli(my_list):
  list1=[]
  for i in my_list:
    if(i not in list1):
      list1.append(i)
  print("After removing duplicates:",list1)

limit=int(input("Enter the limit:"))
my_list=[]
for i in range(limit):
  numbers=int(input("Enter the numbers:"))
  my_list.append(numbers)
print("Original list:",my_list)
dupli(my_list)

Enter the limit:4
Enter the numbers:1
Enter the numbers:2
Enter the numbers:2
Enter the numbers:3
Original list: [1, 2, 2, 3]
[1, 2, 3]

In [ ]:
#count words in a sentence
def counts(str1):
  str2=str1.split(" ")
  print("No of words:",len(str2))

str1=str(input("Enter the sentence:"))
counts(str1)

Enter the sentence:hello arya how are you
No of word: 5

In [ ]:
#2.auto_trimorphic
num=int(input("Enter the number:"))
print("Menu")
print("1.Automorphic")
print("2.Trimorphic")
choice=int(input("Enter the choice:"))
l=len(str(num))
if(choice==1):
  sq=num**2
  if(sq%(10**l))==num:
    print(num,"is automorphic")
  else:
    print(num,"is not automorphic")
elif(choice==2):
  cb=num**3
  if(cb%(10**l))==num:
    print(num,"is trimorphic")
  else:
    print(num,"is not trimorphic")
else:
  print("Invalid choice")

Enter the number:25
Menu
1.Automorphic
2.Trimorphic
Enter the choice:2
25 is trimorphic

In [ ]:
#phone book
print("1. Add contact")
print("2. Search contact")
print("3. Update contact")
print("4. Display contacts")
print("5. Delete contact")
print("6. Exit")
phone_book={}
choice=int(input("Enter the choice you want:"))

def add():
  name=input("Enter the name:")
  ph_no=int(input("Enter the phone number:"))
  phone_book[name]=ph_no
  print("Contact added successfully")
def search():
  sname=input("Enter the name want to search:")
  if sname in phone_book:
    print("The phone number of",sname,"is:",phone_book[sname])
    print("Search completed")
  else:
    print("Name is not in the dictionary")
def update():
  uname=input("Enter the name want to update:")
  if uname in phone_book:
    ph_no1=int(input("Enter the updated phone number:"))
    phone_book[uname]=ph_no1
    print("Contact updated successfully")
  else:
    print("Name is not in the dictionary")
def display():
  for x,y in phone_book.items():
      print("Name:",x,"phone-number:",y)
def delete():
  dname=input("Enter the name want to delete:")
  if dname in phone_book:
    del phone_book[dname]
    print("Contact deleted")
  else:
    print("Name is not in the dictionary")



while(True):
  if(choice==1):
    add()
  elif(choice==2):
    search()
  elif(choice==3):
    update()
  elif(choice==4):
    display()
  elif(choice==5):
    delete()
  elif(choice==6):
    break
  else:
    print("Invalid choice")
  choice=int(input("Enter the choice you want:"))

1. Add contact
2. Search contact
3. Update contact
4. Display contacts
5. Delete contact
6. Exit
Enter the choice you want:1
Enter the name:arya
Enter the phone number:9567471975
Contact added successfully
Enter the choice you want:1
Enter the name:amal
Enter the phone number:8129442725
Contact added successfully
Enter the choice you want:2
Enter the name want to searchamal
The phone number of arya is: 8129442725
Search completed
Enter the choice you want:3
Enter the name want to updateamal
Enter the updated phone number:9645965285
Contact updated successfully
Enter the choice you want:4
Name: arya phone-number: 9567471975
Name: amal phone-number: 9645965285
Enter the choice you want:5
Enter the name want to updateamal
Contact deleted
Enter the choice you want:6

In [ ]:
#recursion
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

result = factorial(5)
print("Factorial of 5:", result)

Factorial of 5: 120